.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'Sanomat Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Sanomat Sans Regular'), url('SanomatRegular.woff') format('woff');
}
@font-face {
  font-family: 'Sanomat Grab Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Sanomat Sans Regular'), url('SanomatGrab.woff2') format('woff2');
}

.color-grab {
  color: #00b14f;
}
li{
  margin-top: 4px;
  margin-bottom: 4px;
}

